#bookmark {
    background-color: rgba(176, 224, 230, 0.861);
    border-radius: 20%;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 1250px;
    top: 100px;
    box-shadow: 0 1px 3px #8889 ;


}
.bookmarkText {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    margin-top: 40px;
    margin-left: 130px;
}

.google{
    position: absolute;
    top: 100px;
}

.google:hover{
    transform: scale(1.2);
}

.naver{
    position: absolute;
    top: 100px;
    left: 160px;
}

.naver:hover{
    transform: scale(1.2);
}

.github{
    position: absolute;
    top: 100px;
    left: 300px;
}

.github:hover{
    transform: scale(1.2);
}

.notion{
    position: absolute;
    top: 200px;
}

.notion:hover{
    transform: scale(1.2);
}

.normad{
    position: absolute;
    top: 200px;
    left: 160px;
}

.normad:hover{
    transform: scale(1.2);
}

.youtube{
    position: absolute;
    top: 200px;
    left: 300px;
}

.youtube:hover{
    transform: scale(1.2);
}